<div class="privacy">
    <h1 id="javascript">This site uses Javascript</h1>
    <p>
        This site uses Javascript to make your browsing experience better.
        Crawlspace is a static site that you are completely free to read and enjoy with scripting disabled.
        However, the following progressive enhancements will also be disabled:</p>
    <ul>
        <li>Applying user preferences and swearing filters</li>
        <li>Remembering user preferences between sessions and visits</li>
        <li>User tracking</li></ul>
    <p>
        For more information on what Javascript is and how you can enable it, check out <a href="http://www.enable-javascript.com/" target="_blank">enable-javascript.com</a>.</p>

    <h1 id="tracking">This site respects Do Not Track settings</h1>
    <p>
        This site employs user tracking via <a href="https://www.google.com/policies/privacy/partners/">Google Analytics</a>, conditionally loaded based on both the presence of your browser's Do Not Track setting and your personal preferences for this site.
        When enabled, I collect the following information:</p>
    <ul>
        <li>General visitor statistics including browser information, session lengths, and demographics</li>
        <li>General statistics about who has their swearing filters enabled</li>
    </ul>
    <p>
        I collect this information because having an audience helps motivate me to work harder on regular updates.
        I also use this information to figure out what projects people are interested in, what I should be working on next, and what communities and demographics I should be supporting.</p>
    <p>
        For more information about Do Not Track and how you can enable it, check out <a href="http://donottrack.us/">donottrack.us</a>.</p>
    <p>
        Please note that even if Do Not Track is enabled in your browser, some data such as preferences will still be stored locally on your computer.
        This information will never be sent to me, but it is possible that other sites or domains may (without my permission) try to access it.</p>

    {{! Add an option to enable user tracking here }}
    {{! If you have Do Not Track enabled, but would like to support Crawlspace by , you can opt in below.}}

    <h1 id="open-source">This site is Open Source</h1>
    <p>
        The Crawlspace website is completely open source and available on Github. More information (including licensing) is available at the <a href="https://github.com/danShumway/Crawlspace">Crawlspace Repo</a>.</p>
    <p>
        For more information on what it means for a site to be Open Source and why it matters, check out <a href="https://opensource.com/resources/what-open-source">opensource.com</a>.</p>

    <h1 id="supported-browsers">Supported Browsers</h1>
    <p>
        This site is tested in the following browsers: </p>
    <ul>
        <li>Google Chrome</li>
        <li>Mozilla Firefox</li>
    </ul>
    <p>
        If you would like me to add another browser to this list, or would like to report a bug, please let me know on Github's <a href="https://github.com/danShumway/Crawlspace/issues">issue tracker</a>.</p>
</div>
